@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "HarmonyOS_Sans_SC_Regular", "HarmonyOS_Sans_TC_Regular";
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

* ::-webkit-scrollbar {
  display: none; /* Safari/Chrome/Opera */
}

body {
  font-family: var(--font-display);
}

input:focus-visible {
  outline: none;
}
