@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "HarmonyOS_Sans_SC_Regular", "HarmonyOS_Sans_TC_Regular";
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  * ::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: var(--font-display);
  }

  input:focus-visible {
    outline: none;
  }

  pre {
    overflow-x: auto;
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  code {
    white-space: pre;
  }
  
  button {
    cursor: pointer;
  }
}
