.content pre {
  background-color: #333; /* 黑色背景 */
  color: #fff; /* 白色文本 */
  border-radius: 5px; /* 圆角边框 */
  padding: 10px; /* 内边距 */
  font-family: 'Courier New', Courier, monospace; /* 使用等宽字体 */
  overflow-x: auto; /* 水平滚动条 */
}

.content code {
  white-space: pre; /* 预格式化空白 */
}