@import "tailwindcss" theme(static);
@custom-variant dark (&:is(.dark *));
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Maple Mono CN";
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: var(--font-display);
  }

  * ::-webkit-scrollbar {
    display: none;
  }

  input:focus-visible {
    outline: none;
  }

  pre {
    overflow-x: auto;
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  code {
    white-space: pre;
  }

  button {
    cursor: pointer;
  }
}

:root {
  --ui-radius: 0.5rem;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --ring: oklch(0.705 0.015 286.067);
}

.dark {
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --ring: oklch(0.442 0.017 285.786);
}

/* View Transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  opacity: 1;
}

::view-transition-new(root) {
  animation: subtle-fade 0.25s ease-out;
}

@keyframes subtle-fade {
  from {
    opacity: 0;
  }
}

@theme inline {
  --color-background: var(--ui-bg);
  --color-foreground: var(--ui-text);
  --color-popover: var(--ui-bg);
  --color-popover-foreground: var(--ui-text);
  --color-primary: var(--ui-bg-inverted);
  --color-primary-foreground: var(--ui-text-inverted);
  --color-secondary: var(--ui-bg-muted);
  --color-secondary-foreground: var(--ui-text-muted);
  --color-muted: var(--ui-bg-muted);
  --color-muted-foreground: var(--ui-text-muted);
  --color-accent: var(--ui-bg-accented);
  --color-accent-foreground: var(--ui-text-toned);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--ui-border);
  --color-input: var(--ui-border);
  --color-ring: var(--ring);
}
